@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1c1917;
  --font-size: 16px;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --radius: 0.625rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-stone-200;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}

html {
  font-size: var(--font-size);
}
